page-home {
  
  width: 100vw;
  height: 100vh;
  
  background: linear-gradient(#2f323f, #252735);
  color: #bbbecc;
  text-shadow: 0px 2px 5px #000;
  
  ion-slide {
    align-items: flex-start !important;
    padding: 5vh 5vh;

    width: 100vh;
    height: 100vh;
    
    .slide-body {
      display: flex;
      flex-direction: row;
      font-size: 3vh;
      height: 70vh;
      align-items: center;
    }
    
    .slide-body-column {
      flex-direction: column;
    }
    
    .slide-zoom {
      text-align: justify;
      height: 100%;
      vertical-align: middle;
    }
    
    .column,.row {
      display: flex;
    }
    
    .column {
      flex-direction: column;
      width: 50%;
      padding-left: 5vw;
      max-height: 100%;
      
      :first-child {
        padding-left: 0;
      }
    }
    
    .row {
      flex-direction: row;
      height: 50%;
      padding-top: 3vh;
      max-width: 100%;
      
      :first-child {
        padding-top: 0;
      }
    }
    
    .images {
      align-items: center;
      align-content: center;
    }
    
    .column.images {
      img {
        width: 30vw;
      }
      
      .img-fit {
        width: auto;
        height: 70vh;
      }
    }
    
    .row.images {
      img {
        height: 20vh;
      }
      
      .img-fit {
        width: 60vw;
        height: auto;
      }
    }
    
    h1 {
      text-align: left;
      margin-left: 10vw;
      
      font-size: 6vh;
      line-height: 6vh;
      font-weight: 600;
    }
    h2 {
      text-align: left;
      margin-left: 15vw;
      
      font-size: 3vh;
      line-height: 3vh;
      font-weight: 300;
    }
  }
  
  ion-slide.title {
    align-items: center !important;
      
    .slide-zoom {
      text-align: center;
      height: auto;
    }
    
    
    h1 {
      height: auto;
      text-align: center;
      margin-left: 0;
      
      font-size: 6vh;
      line-height: normal;
      font-weight: 800;
    }
    h2 {
      text-align: center;
      margin-left: 0;
      
      font-size: 3vh;
      line-height: normal;
      font-weight: 500;
    }
  }
  
  ion-slide.summary {
    
    .slide-body {
      margin-top: 5vh;
      margin-left: 5vw;
      font-size: 3vh;
    }
    
    ol {
      list-style-type: upper-roman;
      
      > li {
        font-weight: 500;
      }
      
      ol {
        list-style-type: decimal; 
      
        > li {
          font-weight: 300;
        } 
      }
    }
    
    ol,ul {
      line-height: 4vh;
    }
  }
  
  .page-number {
    background: linear-gradient(#353745, #3f424f);
    border: none;
    border-radius: 3px;
    position: absolute;
    width: 4vw;
    bottom: 3vh;
    right: 3vw;
    
    text-align: center;
  }
  
  .back-to-top {
    background: linear-gradient(#353745, #3f424f);
    border: none;
    border-radius: 3px;
    position: absolute;
    width: 4vw;
    bottom: 3vh;
    left: 3vw;
    color: #bbbecc;
  }
}

pre {
  code {
    background: linear-gradient(#353745, #3f424f) !important;
    box-shadow: 0px 2px 5px black inset;
    border-radius: 7px;
    font-size: 3vh;

  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}